.top-bar {
  display: grid;
  align-items: center;
  height: 42px;
  padding: 0px 10px;
  background-color: var(--color-app-bg);
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0;
  grid-template-columns: auto 1fr auto;
}

.menu-toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  grid-column: 1;
  justify-self: start;
}

.menu-toggle-button:focus {
  outline: none;
  box-shadow: none;
}

.top-bar-title-bar {
  display: flex;
  justify-content: center
}

.top-bar-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-column: 2;
  justify-self: center;
}
