.top-bar {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 10px 0px 7px;
  background-color: var(--color-app-bg);
  border-bottom: 1px solid var(--color-border);
  flex-shrink: 0; /* Prevent top bar from shrinking */
}

.menu-toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.menu-toggle-button:focus {
  outline: none;
  box-shadow: none;
}

.top-bar-title {
  font-size: 1.2rem;
  margin: 0;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
